body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

#header{
	
	
	background-color:black;
    color:white;
    text-align:center;
    padding:10px;
	text-decoration:none;
}




    
ul#menu {
    padding: 0px;
	}
	
ul#menu li {
    display: inline;
}


ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 400px 0 400px 0;
	font-size:100%;
	
	
}
ul#menu li a:hover {
    background-color: white;
	color: black;
	}
#section {
    width:1320px;
	padding-left:10px;
	padding-right:0px;
	
	padding-top:0px;
	
	text-align:center-left;
    height:100%;	 	 
}
#footer {
    background-color:white;
    color:black;
    
    text-align:left;
   padding:15px;	 	 

}


